<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="visitasPaciente">
      <h2 data-cy="visitasPacienteDetailsHeading"><span jhiTranslate="vitasApp.visitasPaciente.detail.title">Visitas Paciente</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ visitasPaciente.id }}</span>
        </dd>
        <dt><span jhiTranslate="vitasApp.visitasPaciente.hora">Hora</span></dt>
        <dd>
          <span>{{ visitasPaciente.hora | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="vitasApp.visitasPaciente.duracion">Duracion</span></dt>
        <dd>
          <span>{{ visitasPaciente.duracion }}</span>
        </dd>
        <dt><span jhiTranslate="vitasApp.visitasPaciente.paciente">Paciente</span></dt>
        <dd>
          <div *ngIf="visitasPaciente.paciente">
            <a [routerLink]="['/usuario-vitas', visitasPaciente.paciente?.id, 'view']">{{ visitasPaciente.paciente?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="vitasApp.visitasPaciente.visitante">Visitante</span></dt>
        <dd>
          <div *ngIf="visitasPaciente.visitante">
            <a [routerLink]="['/usuario-vitas', visitasPaciente.visitante?.id, 'view']">{{ visitasPaciente.visitante?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="vitasApp.visitasPaciente.sala">Sala</span></dt>
        <dd>
          <div *ngIf="visitasPaciente.sala">
            <a [routerLink]="['/sala-vitas', visitasPaciente.sala?.id, 'view']">{{ visitasPaciente.sala?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/visitas-paciente-vitas', visitasPaciente.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
