<div>
  <h2 id="page-heading" data-cy="HorarioHeading">
    <span jhiTranslate="vitasApp.horario.home.title">Horarios</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="vitasApp.horario.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-horario-vitas"
        [routerLink]="['/horario-vitas/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="vitasApp.horario.home.createLabel"> Create a new Horario </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="horarios?.length === 0">
    <span jhiTranslate="vitasApp.horario.home.notFound">No horarios found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="horarios && horarios.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="horaEntrada">
            <span jhiTranslate="vitasApp.horario.horaEntrada">Hora Entrada</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="horaSalida">
            <span jhiTranslate="vitasApp.horario.horaSalida">Hora Salida</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sala.id"><span jhiTranslate="vitasApp.horario.sala">Sala</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let horario of horarios; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/horario-vitas', horario.id, 'view']">{{ horario.id }}</a>
          </td>
          <td>{{ horario.horaEntrada | formatMediumDatetime }}</td>
          <td>{{ horario.horaSalida | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="horario.sala">
              <a [routerLink]="['/sala-vitas', horario.sala?.id, 'view']">{{ horario.sala?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/horario-vitas', horario.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/horario-vitas', horario.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(horario)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="horarios && horarios.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
