<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-internamiento-vitas-heading"
        data-cy="InternamientoCreateUpdateHeading"
        jhiTranslate="vitasApp.internamiento.home.createOrEditLabel"
      >
        Create or edit a Internamiento
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="vitasApp.internamiento.inicioInternamiento" for="field_inicioInternamiento"
            >Inicio Internamiento</label
          >
          <div class="d-flex">
            <input
              id="field_inicioInternamiento"
              data-cy="inicioInternamiento"
              type="datetime-local"
              class="form-control"
              name="inicioInternamiento"
              formControlName="inicioInternamiento"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="vitasApp.internamiento.duracionInternamiento" for="field_duracionInternamiento"
            >Duracion Internamiento</label
          >
          <input
            type="number"
            class="form-control"
            name="duracionInternamiento"
            id="field_duracionInternamiento"
            data-cy="duracionInternamiento"
            formControlName="duracionInternamiento"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="vitasApp.internamiento.paciente" for="field_paciente">Paciente</label>
          <select class="form-control" id="field_paciente" data-cy="paciente" name="paciente" formControlName="paciente">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="usuarioOption.id === editForm.get('paciente')!.value?.id ? editForm.get('paciente')!.value : usuarioOption"
              *ngFor="let usuarioOption of usuariosSharedCollection; trackBy: trackUsuarioVitasById"
            >
              {{ usuarioOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="vitasApp.internamiento.sala" for="field_sala">Sala</label>
          <select class="form-control" id="field_sala" data-cy="sala" name="sala" formControlName="sala">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="salaOption.id === editForm.get('sala')!.value?.id ? editForm.get('sala')!.value : salaOption"
              *ngFor="let salaOption of salasSharedCollection; trackBy: trackSalaVitasById"
            >
              {{ salaOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
